# dependencies
/node_modules

# Next.js
/.next/
/out/

# build
/build

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo
next-env.d.ts
